@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
html, body{
  overflow-x: hidden;
}
.hero_header.header_text{
  font-family: 'Rubik Dirt', cursive;
}


.tab{
  background-color: rgba(255,255,255,0.1);
  text-align: center;
}

/* Sites List items */
.list-inside::before {
  content: "✅";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
}

/* MEDIA QUERY */
@media only screen and (max-width: 286px){
.container{
  flex-wrap: wrap;
}
.hero_header{
  min-width: 80%;
}
}
@media only screen and (max-width: 996px) {
  .container, .sites, .features{
    flex-wrap: wrap;
  }
  .hero_header{
    min-width: 80%;
  }
}
@media only screen and (max-width: 360px) {
  .container, .sites{
    flex-wrap: wrap;
  }
  .hero_header{
   padding:10px;
  }
}