/* MEDIA QUERY */
@media only screen and (max-width: 286px){
.container{
  flex-wrap: wrap;
}
.hero_header{
  min-width: 80%;
}
}
@media only screen and (max-width: 996px) {
  .container, .sites{
    flex-wrap: wrap;
  }
  .hero_header{
    min-width: 80%;
  }
}
@media only screen and (max-width: 360px) {
  .container, .sites{
    flex-wrap: wrap;
  }
  .hero_header{
   padding:0px;
  }
}